<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
      <h3>フォロー一覧</h3>
      <ol class="microposts">
         <% @followings_list.each do |followings| %>
         <li>
            <span class="label label-info">name</span>
            <%= followings.name %>
            <span class="label label-info">profile</span>
            <%= followings.profile %>
            <span class="label label-info">area</span>
            <%= followings.area %>
            <br>
          </li>
          <% end %>
      </ol>
  </div>
</div>